body {
    background-color: #1b1d1f;
    font-family: 'Open Sans', sans-serif;
    color:aliceblue;
    font-size: 48px;
    display: grid;
    grid-template-columns: auto 900px auto;
}

main {
    grid-column: 2 / 3;
    display: block;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 30px 0px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    width: 80%
}

p {
    margin-bottom: 0;
}

.blue {
    color: rgb(90, 180, 220);
}

/* note: all items are centered on smaller screens */

#image-container {
    width: 80%;
    margin: 6rem auto 2rem auto;
}

#image-container img {
    max-width: 100%;
    border-radius: 10px;
}

#contact embed {
    width: 100%;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem
}

#links a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


@media only screen and (orientation: landscape) {
    body {
        font-size: 32px;
    }
    
    main {
        display: grid;
        grid-template-columns: 24rem 1fr 1fr;  
    }

    #image-container {
        margin: 2rem 0 2rem 2rem;
    }

    /* items below move to center column on standard display */
    #about-me {
        display: block;
        max-width: 1100px;
        min-width: 500px;
        margin: 0;   
        text-align: left;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        width: 100%
    }

    p {
        max-width: 500px;
    }
    
}

@media (pointer:fine) {
    body {
        font-size: 16px;
    }
    
    main {
        display: grid;
        grid-template-columns: 24rem 1fr 1fr;  
    }

    #image-container {
        margin: 2rem 0 2rem 2rem;
    }

    /* items below move to center column on standard display */
    #about-me {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 1200px;
        margin: 0;   
        text-align: left;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.33rem;
        margin: 0;
    }
    
    h3 {
        width: 100%;
        margin: 0;
    }
    
}