body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  background-color: lightblue;
  color: midnightblue;
}

table.values {
  border: solid 2px black;
}

th {
  background-color: lightgray;
  padding: 5px;
}

td.value, td.description {
  padding: 5px;
  border: solid 1px lightgray;
}

.value {
  text-transform: lowercase;
}

ul {
  list-style-type: none;
}

code {
  display: inline-block;
  background-color: lightgray;
  padding: 5px 10px;
  margin: 0;
  border-radius: 5px;
  position: static;
  max-width: 150px;
}

div {
  display: inline-block;
  padding: 25px;
}

.blue {
  background-color: blue;
  position: absolute;
  left: 250px;
  z-index: 1;
  opacity: 60%;
}

.red {
  background-color: red;
  left: 250px;
  opacity: 85%;
}

#static {
  position: static;
}

#relative {
  position: relative;
}

#absolute {
  position: absolute;
}

#fixed {
  position: fixed;
}

#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}
